.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f7f6;
  padding-top: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
